@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aprende acerca <a href="https://docs.microsoft.com/aspnet/core">Github e integracion continua</a>.</p>
</div>
